<div class="backdrop"></div>
<div class="auth-cont">
  <div class="row">
    <div class="col">
      <form>
        <div class="form-group">
          <label for="username">Username/Email:</label>
          <input type="text" id="username">
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password">
        </div>
        <button type="submit" class="btn-default">Login</button>
        <button class="btn-default">Cancel</button>
      </form>
    </div>
  </div>
</div>
