<div class="container">
  <div class="row">
    <a>Edit Profile</a>
    <button (click)="onCallGetUserData()">get user test</button>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <img src="https://source.unsplash.com/random" alt="" style="max-height: 150px;">
      <p>Username</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <p>User Bio</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut tincidunt leo. Donec tincidunt vulputate lectus at eleifend. Duis elit augue, auctor bibendum metus vel, porttitor eleifend turpis. Sed non est tristique, molestie diam non, gravida elit. Vivamus vitae porttitor nulla. Aliquam sit amet dictum neque. Integer viverra tellus mattis.</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <p>List of currently enrolled groups</p>
    </div>
  </div>
</div>
